@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-eb-garamond);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #fffdf4;
  --foreground: #1c2331;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}